 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap'); 

 *, *::before, *::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
    font-family: 'Open Sans', sans-serif;
    --avatar-radius: 45px;
    --bottom-avatar-radius: 60px;
 }

 .container {
     display: grid;
     height: 100vh;
     width: 100vw;
     grid-template-columns: 1fr 5fr;
     grid-template-rows: 1fr 4fr;
 }

 .top-container {
     display: grid;
     column-gap: 5px;
     height: 30%;
     grid-template-columns: 0.1fr 7fr repeat(2, 0.5fr) 1.4fr;
     align-items: center;
     justify-items: center;
     margin: 10px 30px;
 }

 .top-container img:not(.avatar) {
     width: 2rem;
     height: auto;
     padding: 5px;
     
     
 }
 .top-container input {
     flex: 1;
     border-radius: 1000px;
     background-color: #f3f4f6;
     border: 1px solid #e5e7eb;
     width: 80%;
     justify-self: stretch;
     height: 50%;
     margin-left: 10px;
    
 }

 .bottom-container {
     display: grid;
     grid-template-columns: 0.75fr 4fr repeat(3, 1fr);
     padding: 20px 30px 10px 0;
     
     gap: 1.5rem;
     height: auto;
     box-shadow: 0 4px 10px #d1d5db;
     
     
 }
 .header {
     grid-column: 2 / 3;
     grid-row: 1 / span 1;
     background-color: white;
 }

 .sidebar {
     grid-column: 1/ span 1;
     grid-row: 1/-1;
     background-color: #1494d7;
     color: #f9fafb;
     display: grid;
     grid-template-columns: 1fr 4fr;
     grid-template-rows: 100px repeat(10, 50px);
     font-size: 12px;
     align-items: center;
     column-gap: 5px;
     padding-left: 10px;
     
 }


 .sidebar img {
     width: 1.5rem;
     justify-self: center;
 }

 .sidebar img:first-of-type {
     width: 2.5rem;
 }
 .main-content {
     grid-column: 2 / -1;
     grid-row: 2 / -1;
     background-color: #f3f4f6;
 }

 .top-container .avatar {
    width: var(--avatar-radius);
    border-radius: var(--avatar-radius);
    height: var(--avatar-radius);
    object-fit: cover;
}

.bottom-container .avatar {
    width: var(--bottom-avatar-radius);
    border-radius: var(--bottom-avatar-radius);
    height: var(--bottom-avatar-radius);
    object-fit: cover;
    justify-self: end;
}

.header-btn {
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #1494d7;
    font-weight: 600;
    font-size: 16px;
    padding: 0.5rem 2rem;
    place-self: center;
}

.header-btn:hover {
    background-color: #0284c7;
}

.welcome {
    font-size: 14px;
    font-weight: bold;
}